{% extends "layout.html" %}

{% block content %}
<h1>Letter Counter</h1>
    <form method="post" action="{{ url_for('letter_count_result') }}" id="letterForm">
        <label for="word">Enter your word:</label>
        <input type="text" placeholder="Enter your first word" name="word" id="word">
        <hr/>
        <input type="submit" value="Submit"/>
    </form>
    {% if letter_success == True %}
        <hr/>
        <hr/>
    <p>{{word}} {{my_dict}}</p>
    {% for key, val in my_dict.items() %}
    <p>Letter: {{key.upper()}}, Count: {{val}}</p>
    {% endfor %}

    {% endif %}
{% endblock %}
