{% extends "layout.html" %}

{% block content %}
    <h2>Numbers Calculator</h2>

    <div class="container">
        <form name="numbers" action="" method="post" novalidate>
            <fieldset class="form-group">
                <legend> {{ title }} </legend>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.number_one.label }} <br>
                    {{ form.number_one }}
                    {% for error in form.number_one.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.number_two.label }} <br>
                    {{ form.number_two }}
                    {% for error in form.number_two.errors %}
                    <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.calculate() }}
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
