{% extends 'base.html' %}

{% block content %}
    <h2>Events Manager</h2>
<form method="POST">
  <div class="container">
    <h2>Add Event</h2>
    <label for="event_id"><b>Event ID</b></label>
    <input type="text" placeholder="Enter Event ID" name="event_id" id="event_id" required>

    <label for="event_name"><b>Event Name</b></label>
    <input type="text" placeholder="Enter Event Name" name="event_name" id="event_name" required>

    <label for="event_time"><b>Event Time</b></label>
    <input type="text" placeholder="Enter Event Time" name="event_time" id="event_time" required>

    <label for="event_date"><b>Event Date</b></label>
    <input type="text" placeholder="Enter Event Date" name="event_date" id="event_date" required>

    <label for="event_desc"><b>Event Description</b></label>
    <input type="text" placeholder="Enter Event Description" name="event_desc" id="event_desc" required>

    <input type="submit" name="submit" class="registerbtn">
  </div>
</form>

<style>
img {
  width: 100%;
}

body {
  padding: 20px;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>


{% endblock %}
