{% extends 'base.html' %}

{% block content %}
    <h2>Main Page</h2>
    <p>St Paul’s is a Pre-Prep to Year 12 co-educational Anglican school. We seek to prepare resilient global citizens who are innovative thinkers, with a heart for servant leadership.
    St Paul’s has pioneered a unique approach to learning called: Realms of Thinking which help students master the basics while also growing their capacity to ask better questions, navigate challenges, develop empathy and spark their imagination.</p>
{% endblock %}
